.btn{
    width: 150px;
    height: 44px;

    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;

    padding-top: 14px;
    padding-left: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: #333;
}