*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: Roboto;
    box-sizing: border-box;
}
.App{
    display: flex;
    width: 1918px;
    height:  935px;
}
.container {
   width: 1768px;
   height: 935px;
}

.container .content {
    height: 856px;
    /* background-color:blueviolet; */
}

.container .footer{
    width: 1768px;
    height: 79px;
}

.sidebar{
    width: 150px;
    height: 935px; 
    background-color: black;
    color: white;
}

/* Table */
@media (min-width: 740px) and (max-width:1023){
    .sidebar{
        background-color: blue;
        color: white;
    }
}
/* Moblie */
@media (max-width: 740px) {
    
}